* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  background-color: #111;
  overflow-x: hidden;
  width: 100%;

  @media only screen and (max-width: 85em) {
    font-size: 60%;
  }

  @media screen and (max-width: 48em) {
    font-size: 56%;
  }
}

html {
  scroll-behavior: smooth;
  transition: 2s all;
}

.hidden {
  opacity: 0;
  transition: 1s all;
  transition-delay: 0.05s;
  transform: translateX(-5%);
}

.show {
  opacity: 1;
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #222;
  width: 0.7rem;
  @media only screen and (max-width: 768px) {
    width: 0;
  }
}

::-webkit-scrollbar-thumb {
  background: #999;
}
