.btn__top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  aspect-ratio: 1;

  text-decoration: none;
  @media screen and (max-width: 48em) {
    display: none;
  }

  & > * {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 1.5rem;
    border: 1px solid #fff;
    text-decoration: none;
    background-color: #000;
    

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}
