.detail {
  background-color: $light;
  &__container {
    @include section-container;
    padding: 7rem 3rem;
    text-align: center;

    @media only screen and (max-width: 768px) {
      padding: 7rem 1rem;
    }
  }

  &__heading {
    font-family: "Rany", sans-serif;
    color: #222;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &__paragraph {
    font-size: 1.2rem;
    color: $light;
    text-align: justify;
    color: $dark;
  }

  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;

    &-heading {
      font-size: 1.2rem;
      color: $dark;
      margin-top: 4rem;
      padding: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 4rem;
    }
  }

  &__label {
    color: $light;
    font-size: 1.5rem;
    cursor: text;
    position: relative;
    width: 50rem;
    overflow: hidden;
    width: 100%;
  }

  &__input {
    padding: 0 1rem;
    height: 4rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #111;
    &:invalid {
      border-bottom: 5px solid orange;
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    color: #aaa;
    width: max-content;
    display: inline-block;
    transition: 0.1s all;
    pointer-events: none;
    font-size: 0.7rem;
    transform: translateY(-1.7rem);
  }

  &__submit {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: black;
    color: rgb(235, 235, 235);
    padding: 0 3rem;
    height: 4rem;
    border: 1px solid black;
    align-self: stretch;
    cursor: pointer;
    &:hover,
    &:active {
      background-color: rgb(235, 235, 235);
      color: black;
    }
  }
}
