// COLORS

$light: #f9f9f9;
$dark: #16302b;
$lightGreen: #6c8582;

// VAR

$container: 80rem;

// MIXIN

@mixin section-container {
  max-width: $container;
  margin: 0 auto;
  min-height: 40rem;
}

@mixin section-flex-container {
  max-width: $container;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  min-height: 40rem;
}

@mixin section-grid-container {
  max-width: $container;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2.5rem;
  padding: 7rem 3rem;
  place-content: center;
}

@mixin sectionHeading {
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Rany", sans-serif;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-align: center;
  @media only screen and (max-width: 768px) {
    font-size: 3rem;
  }
}

@mixin footerHeading {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1rem;
  @media only screen and (max-width: 768px) {
    text-align: center;
  }
}

@mixin fontHeading {
  font-family: "Rany Typeface";
  // font-weight: 100;
}

@mixin fontSecond {
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Rany";
  src: url("../assets/font/Rany-Bold.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Rany";
  src: url("../assets/font/Rany.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rany";
  src: url("../assets/font/Rany-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rany";
  src: url("../assets/font/Rany-Medium.otf");
  font-weight: 600;
  font-style: normal;
}
